<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<type name='Magento\Checkout\Model\CompositeConfigProvider'>
		<arguments>
			<argument name='configProviders' xsi:type='array'>
				<item name='dfe_tbc_bank' xsi:type='object'>Dfe\TBCBank\ConfigProvider</item>
			</argument>
		</arguments>
	</type>
	<type name='Magento\Payment\Model\CcGenericConfigProvider'>
		<arguments>
			<argument name='methodCodes' xsi:type='array'>
				<item name='dfe_tbc_bank' xsi:type='string'>dfe_tbc_bank</item>
			</argument>
		</arguments>
	</type>
	<virtualType name='Dfe\TBCBank\ConfigProvider' type='Df\StripeClone\ConfigProvider'>
		<arguments><argument name='module' xsi:type='string'>Dfe_TBCBank</argument></arguments>
	</virtualType>		
	<virtualType name='Dfe\TBCBank\Controller\Index\Index' type='Df\Payment\W\Action'/>
	<virtualType name='Dfe\TBCBank\W\Nav' type='Df\StripeClone\W\Nav'/>
</config>